<!DOCTYPE html>
<html
  lang="en"
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Journal | Olalekan Folayan's Journal</title>
    <meta
      name="description"
      content="Programming, Life and others">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link
      href="{{ site.baseurl }}/assets/journal/css/main.css"
      rel="stylesheet"
      type="text/css">

      <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>





    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/journal/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/journal/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/journal/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/journal/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/journal/favicon/safari-pinned-tab.svg" color="#383a3b">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/journal/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#383a3b">
    <meta name="msapplication-config" content="{{ site.baseurl }}/assets/journal/favicon/browserconfig.xml">
    <meta name="theme-color" content="#f8f7eb">
    <!-- Global site tag (gtag.js) - Google Analytics -->




  </head>

  <body class="no-animations ">















<div class="o-section">
  {% include journal-header-title.html %}

   {% include journal-header-nav.html %}
</div>





 {{content}}












<script src="{{ site.baseurl }}/assets/journal/js/scripts.min.js"></script>
  </body>
</html>
